<div class="container">
  <img src="assets/logo_white.png" alt="Logo" class="logo">
  <mat-card class="box">
    <mat-card-title>Bonjour !</mat-card-title>
    <mat-card-content>
      <p>Bienvenue sur Project Management Tool, veuillez-vous connecter ou créer votre compte !</p>
      <div class="bouton">
        <button mat-raised-button color="primary" routerLink="/auth/register">S'inscrire</button>
        <button mat-raised-button color="basic" routerLink="/auth/login">Se connecter</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
